.site-footer {
    text-align: center;
    padding-top: 20px;
    bottom: 0;
    width: 100%;


    @include desktop {
        text-align: left;
        padding: 20px;
    }
}

.copyright p {
    color: #c2c2c2;
    font-family: 'Open Sans';
}

.copyright span {
    text-transform: uppercase;
}