body {
    background-color: black;
    color: #ffffff;
    height: 100%;
    font-size: 16px;
    font-family: 'Open Sans';

}


h1 {
    font-size: 4rem;
    font-family: 'Open Sans';
}

a {
    color: white;
    text-decoration: none;
}

ul,
li {
    list-style: none;
}